## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
value_counts = application_df['APPLICATION_TYPE'].value_counts()
value_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_threshold = 500
application_types_to_replace = [app_type for app_type in value_counts.index if value_counts[app_type] < application_threshold]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().values

array([17326,  6074,  4837,  1918,  1883,   777,   287,   194,   116,
         114,   104,    95,    75,    58,    50,    36,    34,    32,
          32,    30,    20,    18,    16,    15,    15,    14,    11,
          10,    10,     9,     9,     7,     6,     6,     6,     5,
           5,     3,     3,     3,     2,     2,     2,     2,     2,
           1,     1,     1,     1,     1,     1,     1,     1,     1,
           1,     1,     1,     1,     1,     1,     1,     1,     1,
           1,     1,     1,     1,     1,     1,     1,     1],
      dtype=int64)

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_threshold = 800
value_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = [cls for cls in value_counts.index if value_counts[cls] < classification_threshold]

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, columns=['APPLICATION_TYPE', 'CLASSIFICATION', 'AFFILIATION', 'ORGANIZATION', 'USE_CASE', 'INCOME_AMT','SPECIAL_CONSIDERATIONS'])
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [10]:
# Split our preprocessed data into our features and target arrays
features = application_df.drop(columns=['IS_SUCCESSFUL'])
target = application_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(features, target)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=22, activation="relu", input_dim=43))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=22, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 22)                968

 dense_1 (Dense)             (None, 22)                506

 dense_2 (Dense)             (None, 1)                 23

=================================================================
Total params: 1,497
Trainable params: 1,497
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
### Creating custom function to save weights every 5 epochs
import os
from tensorflow.keras.callbacks import LambdaCallback

# Create a directory to save the model's weights
os.makedirs("weights", exist_ok=True)
checkpoint_filepath = "weights/weights.hdf5"

# Define custom callback function
def save_weights(epoch, logs):
    if (epoch + 1) % 5 == 0:  # Save the model's weights every 5 epochs
        nn_model.save_weights(checkpoint_filepath)

# Function will run at end of every epoch
custom_checkpoint = LambdaCallback(on_epoch_end=save_weights)

In [16]:
# Train the model with the custom callback
fit_model = nn_model.fit(
    X_train_scaled,
    y_train,
    epochs=100,
    callbacks=[custom_checkpoint]
)

Epoch 1/100
804/804 [==============================] - 1s 734us/step - loss: 0.5822 - accuracy: 0.7137
Epoch 2/100
804/804 [==============================] - 1s 720us/step - loss: 0.5584 - accuracy: 0.7276
Epoch 3/100
804/804 [==============================] - 1s 718us/step - loss: 0.5541 - accuracy: 0.7292
Epoch 4/100
804/804 [==============================] - 1s 721us/step - loss: 0.5525 - accuracy: 0.7297
Epoch 5/100
804/804 [==============================] - 1s 732us/step - loss: 0.5510 - accuracy: 0.7295
Epoch 6/100
804/804 [==============================] - 1s 729us/step - loss: 0.5502 - accuracy: 0.7303
Epoch 7/100
804/804 [==============================] - 1s 710us/step - loss: 0.5495 - accuracy: 0.7302
Epoch 8/100
804/804 [==============================] - 1s 696us/step - loss: 0.5489 - accuracy: 0.7318
Epoch 9/100
804/804 [==============================] - 1s 700us/step - loss: 0.5484 - accuracy: 0.7306
Epoch 10/100
804/804 [==============================] - 1s 714us/step - loss: 0.5484 - accuracy: 0.7325
Epoch 11/100
804/804 [==============================] - 1s 701us/step - loss: 0.5477 - accuracy: 0.7309
Epoch 12/100
804/804 [==============================] - 1s 711us/step - loss: 0.5475 - accuracy: 0.7321
Epoch 13/100
804/804 [==============================] - 1s 701us/step - loss: 0.5467 - accuracy: 0.7331
Epoch 14/100
804/804 [==============================] - 1s 705us/step - loss: 0.5466 - accuracy: 0.7333
Epoch 15/100
804/804 [==============================] - 1s 718us/step - loss: 0.5463 - accuracy: 0.7325
Epoch 16/100
804/804 [==============================] - 1s 707us/step - loss: 0.5466 - accuracy: 0.7332
Epoch 17/100
804/804 [==============================] - 1s 728us/step - loss: 0.5463 - accuracy: 0.7330
Epoch 18/100
804/804 [==============================] - 1s 711us/step - loss: 0.5457 - accuracy: 0.7325
Epoch 19/100
804/804 [==============================] - 1s 702us/step - loss: 0.5454 - accuracy: 0.7336
Epoch 20/100
804/804 [==============================] - 1s 704us/step - loss: 0.5455 - accuracy: 0.7331
Epoch 21/100
804/804 [==============================] - 1s 699us/step - loss: 0.5454 - accuracy: 0.7325
Epoch 22/100
804/804 [==============================] - 1s 700us/step - loss: 0.5450 - accuracy: 0.7335
Epoch 23/100
804/804 [==============================] - 1s 697us/step - loss: 0.5445 - accuracy: 0.7339
Epoch 24/100
804/804 [==============================] - 1s 697us/step - loss: 0.5446 - accuracy: 0.7342
Epoch 25/100
804/804 [==============================] - 1s 728us/step - loss: 0.5444 - accuracy: 0.7333
Epoch 26/100
804/804 [==============================] - 1s 725us/step - loss: 0.5442 - accuracy: 0.7340
Epoch 27/100
804/804 [==============================] - 1s 715us/step - loss: 0.5437 - accuracy: 0.7336
Epoch 28/100
804/804 [==============================] - 1s 704us/step - loss: 0.5440 - accuracy: 0.7360
Epoch 29/100
804/804 [==============================] - 1s 708us/step - loss: 0.5438 - accuracy: 0.7348
Epoch 30/100
804/804 [==============================] - 1s 711us/step - loss: 0.5437 - accuracy: 0.7352
Epoch 31/100
804/804 [==============================] - 1s 708us/step - loss: 0.5436 - accuracy: 0.7350
Epoch 32/100
804/804 [==============================] - 1s 713us/step - loss: 0.5436 - accuracy: 0.7349
Epoch 33/100
804/804 [==============================] - 1s 705us/step - loss: 0.5433 - accuracy: 0.7354
Epoch 34/100
804/804 [==============================] - 1s 706us/step - loss: 0.5432 - accuracy: 0.7354
Epoch 35/100
804/804 [==============================] - 1s 712us/step - loss: 0.5430 - accuracy: 0.7353
Epoch 36/100
804/804 [==============================] - 1s 698us/step - loss: 0.5433 - accuracy: 0.7346
Epoch 37/100
804/804 [==============================] - 1s 723us/step - loss: 0.5435 - accuracy: 0.7349
Epoch 38/100
804/804 [==============================] - 1s 709us/step - loss: 0.5431 - accuracy: 0.7352
Epoch 39/100
804/804 [==============================] - 1s 702us/step - loss: 0.5428 - accuracy: 0.7342
Epoch 40/100
804/804 [==============================] - 1s 706us/step - loss: 0.5431 - accuracy: 0.7349
Epoch 41/100
804/804 [==============================] - 1s 701us/step - loss: 0.5427 - accuracy: 0.7346
Epoch 42/100
804/804 [==============================] - 1s 703us/step - loss: 0.5428 - accuracy: 0.7361
Epoch 43/100
804/804 [==============================] - 1s 713us/step - loss: 0.5425 - accuracy: 0.7355
Epoch 44/100
804/804 [==============================] - 1s 700us/step - loss: 0.5425 - accuracy: 0.7362
Epoch 45/100
804/804 [==============================] - 1s 719us/step - loss: 0.5425 - accuracy: 0.7359
Epoch 46/100
804/804 [==============================] - 1s 707us/step - loss: 0.5424 - accuracy: 0.7365
Epoch 47/100
804/804 [==============================] - 1s 718us/step - loss: 0.5421 - accuracy: 0.7348
Epoch 48/100
804/804 [==============================] - 1s 700us/step - loss: 0.5423 - accuracy: 0.7357
Epoch 49/100
804/804 [==============================] - 1s 695us/step - loss: 0.5420 - accuracy: 0.7362
Epoch 50/100
804/804 [==============================] - 1s 710us/step - loss: 0.5421 - accuracy: 0.7357
Epoch 51/100
804/804 [==============================] - 1s 699us/step - loss: 0.5420 - accuracy: 0.7355
Epoch 52/100
804/804 [==============================] - 1s 695us/step - loss: 0.5418 - accuracy: 0.7351
Epoch 53/100
804/804 [==============================] - 1s 694us/step - loss: 0.5416 - accuracy: 0.7362
Epoch 54/100
804/804 [==============================] - 1s 701us/step - loss: 0.5417 - accuracy: 0.7352
Epoch 55/100
804/804 [==============================] - 1s 724us/step - loss: 0.5415 - accuracy: 0.7369
Epoch 56/100
804/804 [==============================] - 1s 696us/step - loss: 0.5418 - accuracy: 0.7360
Epoch 57/100
804/804 [==============================] - 1s 707us/step - loss: 0.5416 - accuracy: 0.7361
Epoch 58/100
804/804 [==============================] - 1s 703us/step - loss: 0.5419 - accuracy: 0.7347
Epoch 59/100
804/804 [==============================] - 1s 722us/step - loss: 0.5415 - accuracy: 0.7363
Epoch 60/100
804/804 [==============================] - 1s 707us/step - loss: 0.5416 - accuracy: 0.7363
Epoch 61/100
804/804 [==============================] - 1s 700us/step - loss: 0.5416 - accuracy: 0.7355
Epoch 62/100
804/804 [==============================] - 1s 698us/step - loss: 0.5411 - accuracy: 0.7353
Epoch 63/100
804/804 [==============================] - 1s 699us/step - loss: 0.5413 - accuracy: 0.7358
Epoch 64/100
804/804 [==============================] - 1s 710us/step - loss: 0.5415 - accuracy: 0.7357
Epoch 65/100
804/804 [==============================] - 1s 724us/step - loss: 0.5410 - accuracy: 0.7353
Epoch 66/100
804/804 [==============================] - 1s 703us/step - loss: 0.5414 - accuracy: 0.7357
Epoch 67/100
804/804 [==============================] - 1s 730us/step - loss: 0.5413 - accuracy: 0.7364
Epoch 68/100
804/804 [==============================] - 1s 798us/step - loss: 0.5411 - accuracy: 0.7363
Epoch 69/100
804/804 [==============================] - 1s 764us/step - loss: 0.5412 - accuracy: 0.7363
Epoch 70/100
804/804 [==============================] - 1s 768us/step - loss: 0.5409 - accuracy: 0.7364
Epoch 71/100
804/804 [==============================] - 1s 781us/step - loss: 0.5409 - accuracy: 0.7361
Epoch 72/100
804/804 [==============================] - 1s 693us/step - loss: 0.5411 - accuracy: 0.7367
Epoch 73/100
804/804 [==============================] - 1s 672us/step - loss: 0.5409 - accuracy: 0.7362
Epoch 74/100
804/804 [==============================] - 1s 689us/step - loss: 0.5410 - accuracy: 0.7376
Epoch 75/100
804/804 [==============================] - 1s 688us/step - loss: 0.5406 - accuracy: 0.7365
Epoch 76/100
804/804 [==============================] - 1s 686us/step - loss: 0.5402 - accuracy: 0.7362
Epoch 77/100
804/804 [==============================] - 1s 682us/step - loss: 0.5408 - accuracy: 0.7366
Epoch 78/100
804/804 [==============================] - 1s 684us/step - loss: 0.5406 - accuracy: 0.7374
Epoch 79/100
804/804 [==============================] - 1s 689us/step - loss: 0.5404 - accuracy: 0.7358
Epoch 80/100
804/804 [==============================] - 1s 751us/step - loss: 0.5407 - accuracy: 0.7363
Epoch 81/100
804/804 [==============================] - 1s 733us/step - loss: 0.5404 - accuracy: 0.7362
Epoch 82/100
804/804 [==============================] - 1s 727us/step - loss: 0.5404 - accuracy: 0.7370
Epoch 83/100
804/804 [==============================] - 1s 722us/step - loss: 0.5404 - accuracy: 0.7367
Epoch 84/100
804/804 [==============================] - 1s 720us/step - loss: 0.5407 - accuracy: 0.7367
Epoch 85/100
804/804 [==============================] - 1s 720us/step - loss: 0.5405 - accuracy: 0.7362
Epoch 86/100
804/804 [==============================] - 1s 708us/step - loss: 0.5406 - accuracy: 0.7368
Epoch 87/100
804/804 [==============================] - 1s 708us/step - loss: 0.5401 - accuracy: 0.7357
Epoch 88/100
804/804 [==============================] - 1s 706us/step - loss: 0.5403 - accuracy: 0.7362
Epoch 89/100
804/804 [==============================] - 1s 730us/step - loss: 0.5399 - accuracy: 0.7369
Epoch 90/100
804/804 [==============================] - 1s 732us/step - loss: 0.5404 - accuracy: 0.7360
Epoch 91/100
804/804 [==============================] - 1s 732us/step - loss: 0.5401 - accuracy: 0.7365
Epoch 92/100
804/804 [==============================] - 1s 702us/step - loss: 0.5400 - accuracy: 0.7373
Epoch 93/100
804/804 [==============================] - 1s 724us/step - loss: 0.5402 - accuracy: 0.7362
Epoch 94/100
804/804 [==============================] - 1s 721us/step - loss: 0.5402 - accuracy: 0.7362
Epoch 95/100
804/804 [==============================] - 1s 721us/step - loss: 0.5401 - accuracy: 0.7364
Epoch 96/100
804/804 [==============================] - 1s 699us/step - loss: 0.5400 - accuracy: 0.7372
Epoch 97/100
804/804 [==============================] - 1s 697us/step - loss: 0.5399 - accuracy: 0.7365
Epoch 98/100
804/804 [==============================] - 1s 731us/step - loss: 0.5398 - accuracy: 0.7369
Epoch 99/100
804/804 [==============================] - 1s 714us/step - loss: 0.5399 - accuracy: 0.7364
Epoch 100/100
804/804 [==============================] - 1s 719us/step - loss: 0.5400 - accuracy: 0.7372
268/268 - 0s - loss: 0.5489 - accuracy: 0.7360 - 222ms/epoch - 828us/step
Loss: 0.5488831400871277, Accuracy: 0.7359766960144043

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5489 - accuracy: 0.7360 - 143ms/epoch - 534us/step
Loss: 0.5488831400871277, Accuracy: 0.7359766960144043

In [24]:
# Export our model to HDF5 file
os.makedirs("model", exist_ok=True)
nn_model.save("model/AlphabetSoupCharity.h5")